name: Schedule build

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  target:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Check latest k8s
        env:
          REPO: "${{ github.repository }}"
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          # get all k8s releases
          tags=()
          while IFS= read -r line; do
            tags+=("$line")
          done < <(gh api '/repos/kubernetes/kubernetes/releases' --paginate --jq '.[] | select( .tag_name | contains("-") | not ) | .tag_name')

          # sort releases by version
          mapfile -t tags < <(printf '%s\n' "${tags[@]}" | sort --version-sort)

          # trigger build for missing releases
          for tag in "${tags[@]}"; do
            if ! gh -R "${REPO}" release view "${tag}-kwok.0-windows-amd64" >/dev/null 2>&1; then
              echo "Trigger build ${tag}"
              gh -R "${REPO}" workflow run build.yaml -F tag=${tag}

              # sleep 10 seconds to avoid rate limit
              sleep 10
            else
              echo "Skip ${tag}"
            fi
          done
