name: Schedule build

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  target:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Check latest k8s
        env:
          REPO: "${{ github.repository }}"
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          # trigger build
          while IFS= read -r line; do
            if ! gh -R "${REPO}" release view "${line}-kwok.0-windows-amd64" >/dev/null 2>&1; then
              echo "Trigger build ${line}"
              gh -R "${REPO}" workflow run build.yaml -F tag=${line}

              # sleep 10 seconds to avoid rate limit
              sleep 10
            else
              echo "Skip v1.${release}.${latest_patch[${release}]}"
            fi
          done < <(gh api '/repos/kubernetes/kubernetes/releases?per_page=100&page=1' --jq '.[] | select( .tag_name | contains("-") | not ) | .tag_name')
